[submodule "lib/assimp"]
    path = lib/assimp
    url = https://github.com/assimp/assimp.git
    branch = main
[submodule "lib/glad"]
    path = lib/glad
    url = https://github.com/Dav1dde/glad.git
    branch = c
[submodule "lib/glfw"]
    path = lib/glfw
    url = https://github.com/glfw/glfw.git
    branch = main
[submodule "lib/glm"]
    path = lib/glm
    url = https://github.com/g-truc/glm.git
    branch = main
[submodule "lib/stb"]
    path = lib/stb
    url = https://github.com/nothings/stb.git
    branch = main
[submodule "lib/freeimage"]
    path = lib/freeimage
    url = https://github.com/danoli3/FreeImage
    branch = main
[submodule "lib/lib/freeimage"]
	path = lib/lib/freeimage
	url = https://github.com/danoli3/FreeImage
